<!DOCTYPE html>
<html style="overflow: hidden">
    <head>
        <title>Account</title>

        {{> 'head/meta'}}
        {{> 'head/style'}}

    </head>
    <body class="">
        <div>
            {{> 'navigation/reduced/navbar'}}
        </div>
    </body>
</html>