<!DOCTYPE html>
<html style="overflow-y: hidden">
    <head>
        <title>Aalstek</title>

        {{> 'head/meta'}}
        {{> 'head/style'}}

        <script src="js/animation.js"></script>
    </head>
    <body class="">
        <div>
            {{> 'navigation/navbar'}}
        </div>

        {{> 'landing/content'}}
    </body>
</html>